<div class="relative_page">
    <div class="profile_box">
        <div class="profile_name">
            <span>Donny Rolanda</span>
        </div>
        <div class="pic_box">
            <div>
                <div class="pic_item">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="text_link">
            <span>Edit Profile</span>
        </div>
    </div>
    <ul class="list_menu">
        <li each={opts.side_menu_data}>
            <div class="menu_item" onclick={open.bind(this,'DASHBOARD')}>
                <span>
                    <div class="wrap_icn">
                    <i class="material-icons">&#xE88A;</i>
                    </div>
                </span>
                <span>{name}</span>
            </div>
        </li>
    </ul>
    <div class="next_menu" if={isNextOpened}>
        <div class="relative_page">
            <ul class="list_menu">
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                            <i class="material-icons">&#xE88A;</i>
                            </div>
                        </span> 
                        <span>DASHBOARD</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                                <i class="material-icons">&#xE865;</i>
                            </div>
                        </span> 
                        <span>POST</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                                <i class="material-icons">&#xE8F3;</i>
                            </div>
                        </span> 
                        <span>KATEGORI</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                                <i class="material-icons">loyalty</i>
                            </div>
                        </span> 
                        <span>TAG</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                                <i class="material-icons">&#xE91A;</i>
                            </div>
                        </span> 
                        <span> PAGES</span>
                    </div>
                </li>
                <li>
                    <div class="menu_item">
                        <span>
                            <div class="wrap_icn">
                                <i class="material-icons">perm_data_setting</i>
                            </div>
                        </span> 
                        <span>PENGATURAN</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>