@mixin card1(){
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@mixin card2(){
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@mixin card3(){
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@mixin card4() {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@mixin card5() {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
@mixin card_hover(){
    box-shadow: 0 2px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@mixin no_card(){
	box-shadow: none;
}

//
// checkbox custom
//

.checkbox.custom {
	display: block;
	float: left;
	margin-bottom: 20px;
	margin: 0;
	padding: 0;
	width: 100%;
	&.clean{
		> *{
			padding: 0;
		}
	}
}
input[type="checkbox"].custom {
	margin-left: 0;
	padding: 0;
}
input[type=checkbox].css-checkbox {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	width: 1px;
}
input[type=checkbox].css-checkbox+label.css-label, input[type=checkbox].css-checkbox+label.css-label-red, input[type=checkbox].css-checkbox+label.css-label-yellow, input[type=checkbox].css-checkbox+label.css-label-blue, input[type=checkbox].css-checkbox+label.css-label-purple  {
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	background-size: 100%;
	font-size: 13px;
	height: 25px;
	line-height: 15px;
	opacity: 1;
	padding-left: 22px;
	vertical-align: middle;
	width: 25px;
}
input[type=checkbox].css-checkbox+label.css-label:hover, input[type=checkbox].css-checkbox+label.css-label-red:hover, input[type=checkbox].css-checkbox+label.css-label-yellow:hover, input[type=checkbox].css-checkbox+label.css-label-blue:hover, input[type=checkbox].css-checkbox+label.css-label-purple:hover  {
	opacity: 0.5;
}
input[type=checkbox].css-checkbox:checked+label.css-label, input[type=checkbox].css-checkbox:checked+label.css-label-red, input[type=checkbox].css-checkbox:checked+label.css-label-yellow, input[type=checkbox].css-checkbox:checked+label.css-label-blue, input[type=checkbox].css-checkbox:checked+label.css-label-purple  {
	//background-position: 0 -66px;
	background-position: 0 -26px;
}
.css-label {
	background-image: url(http://codeopus.net/file/blog/check1.png);
}
.css-label-red {
	background-image: url(http://codeopus.net/file/blog/check2.png);
}
.css-label-yellow {
	background-image: url(http://codeopus.net/file/blog/check3.png);
}
.css-label-blue {
	// background-image: url('../images/check4.png');
}
.css-label-purple {
	// background-image: url(http://codeopus.net/file/blog/check5.png);
}


//
// tab panel box
//

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}