$pathFont : '../../basic/fonts';
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
  	font-weight: 300;
	src: url($pathFont+'/open_sans/OpenSans-Regular.ttf');
	src: local('OpenSans Regular'), url($pathFont+'/open_sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
  	font-weight: bold;
	src: url($pathFont+'/open_sans/OpenSans-Bold.ttf');
	src: local('OpenSans Bold'), url($pathFont+'/open_sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans';
	font-style: normal;
  	font-weight: 100;
	src: url($pathFont+'/open_sans/OpenSans-Light.ttf');
	src: local('OpenSans Bold'), url($pathFont+'/open_sans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
  	font-weight: 100;
	src: url($pathFont+'/open_sans/OpenSans-LightItalic.ttf');
	src: local('OpenSans Bold'), url($pathFont+'/open_sans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'OpenSans';
	font-style: italic;
  	font-weight: bold;
	src: url($pathFont+'/open_sans/OpenSans-BoldItalic.ttf');
	src: local('OpenSans Bold'), url($pathFont+'/open_sans/OpenSans-BoldItalic.ttf') format('truetype');
}