$pathImage : '../../basic/images';
@import "./rolless.scss";
// @import "./font_face.scss";
// @import "./action.scss";
// @import "./input_files.scss";
$side_width : 205px;
$color1 : #4d4d4d;
$color2 : #f2f2f2;
$color3 : #cccccc;
$color4 : #3498db;
$color5 : #ecf0f1;
$color6 : #f1f1f1;
$color7 : #3d3d3d;
$color8 : #e74c3c;
$color9 : #2980b9;
$color10 : #bdc3c7;
$height_smallbar : 35px;
$height_medium_bar : 50px;
$form_bottom_size : 58px;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
    font-family: 'OpenSans',"Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.6;
}
span{
    color: $color1;
}
// bootstrap 
.nav_dropdown{
    @include roll_flex(column){
        @include roll_i_flex();
        height: 100%;
        align-items: center;
        justify-content: center;
        a{
            color: white;
            background: transparent;
            &:focus{
                background: transparent;
            }
        }
        .dropdown-toggle{
            background: transparent;
        }
        
    }
    align-items: center;
    justify-content: center;
    height: 60px;
    .dropdown{
        &.open{
            background: red;
        }
    } 

}
.ng-isolate-scope{
    &:after{
        content:'';
        display: table;
        clear: both;
    }
}
.full_absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.wrap_dashboard{
    display: block;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wrap_side_menu{
    display: block;
    width: 225px;
    height: 100%;
    position: relative;
    background: #34495e;
    .relative_page{
        width: 225px;
        height: 100%;
        overflow-y: auto;
        // position: relative;
        &.no_scroll{
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .profile_box{
            margin: 0 auto;
            display: block;
            height: auto;
            background: #2c3e50;
            border-bottom: #8e44ad 2px solid;
            .profile_name,.text_link{
                @include roll_table(cell){
                    @include roll_t_align('center','center');
                    font-size: 1.2em;
                    color: white;
                    font-weight: bold;
                }
                width: 100%;
                height: 100px;
            }
            .pic_box{
                @include aspect_ratio(){
                    @include aspect_ratio_item(){
                        
                    }
                }
                width: 100%;
                >div{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
                .pic_item{
                    @include roll_img(){
                        @include roll_img_item();
                        width: 50%;
                        border-radius: 50%;
                        background: white;
                    }
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
        }
        .list_menu{
            display: block;
            width: 100%;
            height:auto;
            padding: 0;
            >li{
                display: block;
                height: 59px;
                width: 100%;
                border-bottom: 1px solid #2c3e50;
                .menu_item{
                    @include roll_table(cell){
                        @include roll_t_align('center','left');
                        font-size: 0.8em;
                        color: white;
                        .wrap_icn{
                            width: 40px;
                            height: auto;
                        }
                        &:first-child{
                            width: 1%;
                        }
                    }   
                    &:hover{
                        background: #22313F;
                        cursor: pointer;
                    }
                    padding-left: 12px;
                    width: 100%;
                    height: 59px;
                }
            }
        }
        .next_menu{
            position: absolute;
            height: 100%;
            left: 100%;
            top: 0;
            bottom: 0;
            bottom: 0;
            right: auto;
            width: 100%;
            margin: auto;
            z-index: 4;
            background: #34495e;
            &:after{
                display: block;
                content : ' ';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: auto;
                border-left: 3px solid #8e44ad;
            }
            @include roll_max_screen(414px){
                left: 0;
            }
            
        }
    }
    @include roll_max_screen(414px){
        width: 100%;
    }
}

.wrap_content_menu{
    left: 225px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.wrap_datatable{
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    .datatable_box{
        border: 1px solid #bdc3c7;
        display: block;
        box-sizing: border-box;
        position: relative;
        height: auto;
        padding: 22px;
        background: white;
        // background: red;
    }
    #example_wrapper{
    }
}

.wrap_form_input{
    position: absolute;
    padding: 12px;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    .form_input_box{
        border: 1px solid #bdc3c7;
        display: block;
        box-sizing: border-box;
        position: relative;
        height: auto;
        padding: 22px;
        background: white;
    }
}
